* {
    margin: 0;
    padding: 0;
}

body {
    background: #edeef0;
}

a{
    text-decoration: none;
}
ul,
li {
    list-style-type: none;
}

.app__wrapper {
    margin: 0 auto;
    max-width: 960px;
    display: grid;
    grid-template-areas:
        'h h'
        'n c';
    grid-template-rows: 40px 1fr;
    grid-template-columns: 1fr 5.5fr;
    /* grid-gap: 10px; */
}


.app__wrapper-content {
    margin-top: 17px;
    border-top-right-radius: 20px;
    background-color:  #edeef0;

    grid-area: c;
}






